@use "/src/sass/base/variables.scss" as * ;

.galary {
    &__name {
        margin-top: 20px;
       font-size: 30px;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        top: 0;
    }
    &__grid {
        display: grid;
        grid-template-columns: [first] 1fr ;
        gap: 10px;
        margin-top: 20px;
        object-fit: cover;
    }
  
}

@media  screen and (min-width: 768px) {
    .galary {
        &__grid {
            display: grid;
            grid-template-columns: [first] 1fr [second] 1fr ;
            gap: 10px;
            margin-top: 20px;
        }
    }
    
}