@use "/src/sass/base/variables.scss" as * ;

.galary {
    &__name {
        margin-top: 20px;
       font-size: 30px;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        top: 0;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-top: 20px;
    }
  
}